In [1]:
import pandas as pd
Train=pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/train.csv')
Test= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/test.csv')

In [2]:
Train

,Country Code,Country Name,Indicator,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Afg,Afghanistan,Access to electricity (% of population),4.446890831,9.294527054,14.13361645,18.9711647,23.81418228,28.66967201,33.54441833,38.44000244,42.4,48.27900696,42.7,43.22201891,69.1,68.0408783,89.5,71.5
1,Afg,Afghanistan,Agricultural land (% of land area),57.94581666,57.94734986,57.93968385,58.08380479,58.15126566,58.13440044,58.12366803,58.12980084,58.13286724,58.13286724,58.13440044,58.13133404,58.12980084,58.12366803,58.12366803,58.12366803
2,Afg,Afghanistan,"Annual freshwater withdrawals, total (% of int...",43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668,43.01590668
3,Afg,Afghanistan,Arable land (% of land area),11.77958696,11.77958696,11.77192095,11.91604189,11.98350275,11.96663754,11.94977232,11.94977232,11.94977232,11.94823912,11.94823912,11.94517272,11.94363951,11.93597351,11.91450869,11.90530948
4,Afg,Afghanistan,Forest area (% of land area),1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994,1.852781994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wor,World,Renewable electricity output (% of total elect...,18.33315487,17.86959113,17.78865441,17.37855417,17.80971628,17.97509024,18.11623199,17.88139672,18.55474759,19.33418182,19.56099755,19.93282502,20.90153641,21.71034584,22.40725845,22.85445608
3188,Wor,World,Renewable energy consumption (% of total final...,17.59000309,17.26302634,17.27447326,17.12018657,16.81846282,16.65049643,16.72202078,16.53042595,16.68234557,17.09256113,16.74770892,16.71762707,16.95344844,17.21164809,17.38010859,17.4241285
3189,Wor,World,Population growth (annual %),1.353162379,1.334998901,1.313657426,1.289152008,1.274940577,1.263746841,1.257648196,1.2427407,1.248567818,1.238302021,1.224604932,1.206011787,1.238181678,1.231089145,1.213632987,1.186406874
3190,Wor,World,GDP per capita (current US$),5517.121715,5410.749791,5545.61076,6138.110737,6829.846305,7303.74346,7816.391751,8700.587475,9443.240891,8842.426339,9570.618407,10485.49418,10587.93714,10749.96067,10911.12712,10168.12454
3191,Wor,World,CO2 emissions (metric tons per capita),3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [3]:
column_to_drop = 'Country Code'
Train.drop(column_to_drop, axis=1, inplace=True)

In [38]:
unique_values = Train['Country Name'].unique()
unique_values.shape

(266,)

Afghanistan
Albania
Algeria
American Samoa
Andorra
Angola
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas, The
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Republic
Chad
Channel Islands
Chile
China
Colombia
Comoros
Congo, Dem. Rep.
Congo, Rep.
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Curacao
Cyprus
Czechia
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt, Arab Rep.
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Faroe Islands
Fiji
Finland
France
French Polynesia
Gabon
Gambia, The
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guam
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hong Kong SAR, China
Hungary
Iceland
India
Indonesia
Iran, Islamic Rep.
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Korea, Dem. People's Rep.
Korea, Rep.
Kosovo
Kuwait
Kyrgyz Republic
Lao PDR
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Macao SAR, China
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia, Fed. Sts.
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
North Macedonia
Northern Mariana Islands
Norway
Oman
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Romania
Russian Federation
Rwanda
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch part)
Slovak Republic
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
St. Kitts and Nevis
St. Lucia
St. Martin (French part)
St. Vincent and the Grenadines
Sudan
Suriname
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkiye
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Uruguay
Uzbekistan
Vanuatu
Venezuela, RB
Viet Nam
Virgin Islands (U.S.)
West Bank and Gaza
Yemen, Rep.
Zambia
Zimbabwe
Africa Eastern and Southern
Africa Western and Central
Arab World
Caribbean small states
Central Europe and the Baltics
Early-demographic dividend
East Asia & Pacific
East Asia & Pacific (excluding high income)
East Asia & Pacific (IDA & IBRD countries)
Euro area
Europe & Central Asia
Europe & Central Asia (excluding high income)
Europe & Central Asia (IDA & IBRD countries)
European Union
Fragile and conflict affected situations
Heavily indebted poor countries (HIPC)
High income
IBRD only
IDA & IBRD total
IDA blend
IDA only
IDA total
Late-demographic dividend
Latin America & Caribbean
Latin America & Caribbean (excluding high income)
Latin America & the Caribbean (IDA & IBRD countries)
Least developed countries: UN classification
Low & middle income
Low income
Lower middle income
Middle East & North Africa
Middle East & North Africa (excluding high income)
Middle East & North Africa (IDA & IBRD countries)
Middle income
North America
Not classified
OECD members
Other small states
Pacific island small states
Post-demographic dividend
Pre-demographic dividend
Small states
South Asia
South Asia (IDA & IBRD)
Sub-Saharan Africa
Sub-Saharan Africa (excluding high income)
Sub-Saharan Africa (IDA & IBRD countries)
Upper middle income
World

In [5]:
unique_values = Test['Country Name'].unique()
unique_values.shape

(266,)

In [6]:
unique_values = Test['Indicator'].unique()
unique_values.shape

(11,)

In [7]:
unique_values = Train['Indicator'].unique()
unique_values.shape

(12,)

In [8]:
unique_values = Test['Indicator'].unique()
unique_values

array(['Access to electricity (% of population)',
       'Agricultural land (% of land area)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Arable land (% of land area)', 'Forest area (% of land area)',
       'Electric power consumption (kWh per capita)',
       'Energy use (kg of oil equivalent per capita)',
       'Renewable electricity output (% of total electricity output)',
       'Renewable energy consumption (% of total final energy consumption)',
       'Population growth (annual %)', 'GDP per capita (current US$)'],
      dtype=object)

In [9]:
unique_values = Train['Indicator'].unique()
unique_values

array(['Access to electricity (% of population)',
       'Agricultural land (% of land area)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Arable land (% of land area)', 'Forest area (% of land area)',
       'Electric power consumption (kWh per capita)',
       'Energy use (kg of oil equivalent per capita)',
       'Renewable electricity output (% of total electricity output)',
       'Renewable energy consumption (% of total final energy consumption)',
       'Population growth (annual %)', 'GDP per capita (current US$)',
       'CO2 emissions (metric tons per capita)'], dtype=object)

In [10]:
Test

,Country Name,Indicator,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,Access to electricity (% of population),97.7,97.7,93.43087769,97.7,97.7
1,Afghanistan,Agricultural land (% of land area),58.12366803,58.12366803,58.27698818,58.27698818,58.74154823
2,Afghanistan,"Annual freshwater withdrawals, total (% of int...",43.01590668,43.01590668,43.01590668,43.01590668,43.01590668
3,Afghanistan,Arable land (% of land area),11.85011422,11.80411818,11.94977232,11.94057311,12.00343437
4,Afghanistan,Forest area (% of land area),1.852781994,1.852781994,1.852781994,1.852781994,1.852781994
...,...,...,...,...,...,...,...
2921,World,Energy use (kg of oil equivalent per capita),..,..,..,..,..
2922,World,Renewable electricity output (% of total elect...,..,..,..,..,..
2923,World,Renewable energy consumption (% of total final...,17.67675038,17.91919181,18.1622255,18.63654208,19.77134448
2924,World,Population growth (annual %),1.169192826,1.148487859,1.107764917,1.062656817,1.013088435
2925,World,GDP per capita (current US$),10215.58544,10754.92975,11297.4524,11338.15032,10902.23731

In [11]:
submission= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/sample_submission.csv')

In [12]:
Test

,Country Name,Indicator,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,Access to electricity (% of population),97.7,97.7,93.43087769,97.7,97.7
1,Afghanistan,Agricultural land (% of land area),58.12366803,58.12366803,58.27698818,58.27698818,58.74154823
2,Afghanistan,"Annual freshwater withdrawals, total (% of int...",43.01590668,43.01590668,43.01590668,43.01590668,43.01590668
3,Afghanistan,Arable land (% of land area),11.85011422,11.80411818,11.94977232,11.94057311,12.00343437
4,Afghanistan,Forest area (% of land area),1.852781994,1.852781994,1.852781994,1.852781994,1.852781994
...,...,...,...,...,...,...,...
2921,World,Energy use (kg of oil equivalent per capita),..,..,..,..,..
2922,World,Renewable electricity output (% of total elect...,..,..,..,..,..
2923,World,Renewable energy consumption (% of total final...,17.67675038,17.91919181,18.1622255,18.63654208,19.77134448
2924,World,Population growth (annual %),1.169192826,1.148487859,1.107764917,1.062656817,1.013088435
2925,World,GDP per capita (current US$),10215.58544,10754.92975,11297.4524,11338.15032,10902.23731

In [13]:
specific_string = 'CO2 emissions (metric tons per capita)'
filtered_rows = Train[Train['Indicator'] == specific_string]

In [14]:

filtered_rows.drop(columns=['Indicator'], inplace=True)
filtered_rows

/tmp/ipykernel_33/1917145034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rows.drop(columns=['Indicator'], inplace=True)

,Country Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
11,Afghanistan,0.055166607,0.055292719,0.066810138,0.073004968,0.054866759,0.080361134,0.089756909,0.109940042,0.165573355,0.239506901,0.304230216,0.408965291,0.335061035,0.298087813,0.283692396,0.297971775
23,Albania,1.031567545,1.056868354,1.233001531,1.361158778,1.427944204,1.360092207,1.363988602,1.433796507,1.428249586,1.492116704,1.64276193,1.768108509,1.565921402,1.656389503,1.795712442,1.665218525
35,Algeria,2.601065339,2.520609526,2.605694613,2.751098761,2.752758782,2.85792657,2.985149131,3.023502915,3.116770947,3.187069044,3.184357,3.305232517,3.621367718,3.658468679,3.811521147,3.951960939
47,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
59,Andorra,7.927016355,7.725626659,7.498764979,7.238069466,7.286756008,7.206273645,6.805400082,6.890389929,7.081822365,6.995396198,7.223590934,6.957586407,6.86229282,6.674233189,6.445930663,6.485769241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,Sub-Saharan Africa,0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3155,Sub-Saharan Africa (excluding high income),0.742518227,0.787450847,0.769905273,0.793282981,0.815993983,0.798675052,0.776252936,0.77565827,0.80372919,0.755114664,0.786334412,0.763583523,0.771278211,0.790174495,0.802481827,0.763559116
3167,Sub-Saharan Africa (IDA & IBRD countries),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3179,Upper middle income,3.167140886,3.243556127,3.347641763,3.646680369,3.955406019,4.246087066,4.524939703,4.770829501,4.86797795,4.944131035,5.315663058,5.673918008,5.764481643,5.885587659,5.857718499,5.735859454
3191,World,3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [15]:
submission

,Country Name,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2030 [YR2030]
0,Afghanistan,3.2253,1.1712,3.7364,0.6141,1.9883,0.0942
1,Albania,2.3565,2.3681,2.1690,1.5303,3.5665,1.7349
2,Algeria,1.0482,1.2839,1.5509,2.4556,3.0417,0.0114
3,American Samoa,3.5276,3.1392,1.1129,1.6479,3.1007,0.6840
4,Andorra,0.8961,3.9242,0.0745,2.0379,3.0965,2.1794
...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,0.8879,1.0192,1.5645,1.5789,0.1476,3.6526
262,Sub-Saharan Africa (excluding high income),3.2523,1.5872,3.8270,3.4941,1.6807,1.2229
263,Sub-Saharan Africa (IDA & IBRD countries),1.7697,1.7440,1.6573,3.1732,1.3454,1.4821
264,Upper middle income,3.1682,3.6737,1.0210,2.2962,3.6815,0.6471
265,World,0.7747,2.6921,0.2496,3.5645,3.8924,3.8018

In [16]:
melted_df = filtered_rows.melt(id_vars='Country Name', var_name='Year', value_name='CO2_Emissions')

In [17]:
melted_df

                                    Country Name           Year CO2_Emissions
0                                    Afghanistan  2000 [YR2000]   0.055166607
1                                        Albania  2000 [YR2000]   1.031567545
2                                        Algeria  2000 [YR2000]   2.601065339
3                                 American Samoa  2000 [YR2000]            ..
4                                        Andorra  2000 [YR2000]   7.927016355
...                                          ...            ...           ...
4251                          Sub-Saharan Africa  2015 [YR2015]    0.76398389
4252  Sub-Saharan Africa (excluding high income)  2015 [YR2015]   0.763559116
4253   Sub-Saharan Africa (IDA & IBRD countries)  2015 [YR2015]    0.76398389
4254                         Upper middle income  2015 [YR2015]   5.735859454
4255                                       World  2015 [YR2015]   4.601683731

[4256 rows x 3 columns]

In [18]:

sorted_df = melted_df.groupby('Country Name').apply(lambda x: x.sort_values('Year')).reset_index(drop=True)

/tmp/ipykernel_33/1716341624.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sorted_df = melted_df.groupby('Country Name').apply(lambda x: x.sort_values('Year')).reset_index(drop=True)

In [19]:
sorted_df.head(20)

                   Country Name           Year CO2_Emissions
0                   Afghanistan  2000 [YR2000]   0.055166607
1                   Afghanistan  2001 [YR2001]   0.055292719
2                   Afghanistan  2002 [YR2002]   0.066810138
3                   Afghanistan  2003 [YR2003]   0.073004968
4                   Afghanistan  2004 [YR2004]   0.054866759
5                   Afghanistan  2005 [YR2005]   0.080361134
6                   Afghanistan  2006 [YR2006]   0.089756909
7                   Afghanistan  2007 [YR2007]   0.109940042
8                   Afghanistan  2008 [YR2008]   0.165573355
9                   Afghanistan  2009 [YR2009]   0.239506901
10                  Afghanistan  2010 [YR2010]   0.304230216
11                  Afghanistan  2011 [YR2011]   0.408965291
12                  Afghanistan  2012 [YR2012]   0.335061035
13                  Afghanistan  2013 [YR2013]   0.298087813
14                  Afghanistan  2014 [YR2014]   0.283692396
15                  Afghanistan  2015 [YR2015]   0.297971775
16  Africa Eastern and Southern  2000 [YR2000]   0.891352058
17  Africa Eastern and Southern  2001 [YR2001]   0.958882806
18  Africa Eastern and Southern  2002 [YR2002]   0.961553407
19  Africa Eastern and Southern  2003 [YR2003]   0.988082951

In [20]:
import re
def remove_brackets(text):
    return re.sub(r"\[.*?\]", "", text)

for index, row in sorted_df.iterrows():
    sorted_df.at[index, 'Year'] = remove_brackets(row['Year'])
print(sorted_df)

     Country Name   Year CO2_Emissions
0     Afghanistan  2000    0.055166607
1     Afghanistan  2001    0.055292719
2     Afghanistan  2002    0.066810138
3     Afghanistan  2003    0.073004968
4     Afghanistan  2004    0.054866759
...           ...    ...           ...
4251     Zimbabwe  2011    0.871932095
4252     Zimbabwe  2012    0.901213848
4253     Zimbabwe  2013    0.901248224
4254     Zimbabwe  2014    0.866838489
4255     Zimbabwe  2015    0.846962441

[4256 rows x 3 columns]

In [21]:
sorted_df

     Country Name   Year CO2_Emissions
0     Afghanistan  2000    0.055166607
1     Afghanistan  2001    0.055292719
2     Afghanistan  2002    0.066810138
3     Afghanistan  2003    0.073004968
4     Afghanistan  2004    0.054866759
...           ...    ...           ...
4251     Zimbabwe  2011    0.871932095
4252     Zimbabwe  2012    0.901213848
4253     Zimbabwe  2013    0.901248224
4254     Zimbabwe  2014    0.866838489
4255     Zimbabwe  2015    0.846962441

[4256 rows x 3 columns]

In [22]:
sorted_df['Year'] = sorted_df['Year'].str.strip()
sorted_df['Year'] = pd.to_datetime(sorted_df['Year'], format='%Y')

In [23]:
sorted_df

     Country Name       Year CO2_Emissions
0     Afghanistan 2000-01-01   0.055166607
1     Afghanistan 2001-01-01   0.055292719
2     Afghanistan 2002-01-01   0.066810138
3     Afghanistan 2003-01-01   0.073004968
4     Afghanistan 2004-01-01   0.054866759
...           ...        ...           ...
4251     Zimbabwe 2011-01-01   0.871932095
4252     Zimbabwe 2012-01-01   0.901213848
4253     Zimbabwe 2013-01-01   0.901248224
4254     Zimbabwe 2014-01-01   0.866838489
4255     Zimbabwe 2015-01-01   0.846962441

[4256 rows x 3 columns]

In [25]:
specific_string = 'Afghanistan'
afg = sorted_df[sorted_df['Country Name'] == specific_string]

In [27]:
afg.drop(columns=['Country Name'], inplace=True)

/tmp/ipykernel_33/2877032837.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  afg.drop(columns=['Country Name'], inplace=True)

In [28]:
afg

         Year CO2_Emissions
0  2000-01-01   0.055166607
1  2001-01-01   0.055292719
2  2002-01-01   0.066810138
3  2003-01-01   0.073004968
4  2004-01-01   0.054866759
5  2005-01-01   0.080361134
6  2006-01-01   0.089756909
7  2007-01-01   0.109940042
8  2008-01-01   0.165573355
9  2009-01-01   0.239506901
10 2010-01-01   0.304230216
11 2011-01-01   0.408965291
12 2012-01-01   0.335061035
13 2013-01-01   0.298087813
14 2014-01-01   0.283692396
15 2015-01-01   0.297971775

In [30]:
country_data = afg['CO2_Emissions'].astype(float)

In [31]:
country_data

0     0.055167
1     0.055293
2     0.066810
3     0.073005
4     0.054867
5     0.080361
6     0.089757
7     0.109940
8     0.165573
9     0.239507
10    0.304230
11    0.408965
12    0.335061
13    0.298088
14    0.283692
15    0.297972
Name: CO2_Emissions, dtype: float64

In [36]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

# Fit ARIMA model
model = ARIMA(country_data, order=(1,1,0))  # Adjust order as needed
model_fit = model.fit()

# Make forecast for the next 10 years
forecast = model_fit.forecast(steps=6)

# Print the forecast
#print("Forecast for CO2 emissions in", country_name)
print(forecast)

16    0.302951
17    0.304688
18    0.305294
19    0.305505
20    0.305578
21    0.305604
Name: predicted_mean, dtype: float64

In [52]:
forecast[16]

0.30295142670120456

In [56]:
specific_string = 'Afghanistan'
submission = submission[submission['Country Name'] == specific_string]

In [58]:
submission

,Country Name,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2030 [YR2030]
0,Afghanistan,3.2253,1.1712,3.7364,0.6141,1.9883,0.0942

In [47]:
afg['CO2_Emissions'] = forecast

/tmp/ipykernel_33/362637852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  afg['CO2_Emissions'] = forecast

In [61]:
# Find the row where 'afg' is present in any column
row_index = submission[submission.eq('Afghanistan').any(axis=1)].index[0]

# Access and modify values of the row
new_values = ['new_value', 'new_value', 'new_value','new_value', 'new_value', 'new_value','f']
submission.loc[row_index] = new_values

/tmp/ipykernel_33/4178012311.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'new_value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  submission.loc[row_index] = new_values
/tmp/ipykernel_33/4178012311.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'f' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  submission.loc[row_index] = new_values

In [62]:
submission

,Country Name,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2030 [YR2030]
0,new_value,new_value,new_value,new_value,new_value,new_value,f

In [49]:
afg.loc['Year', 'Forecast'] = pd.concat([country_data, forecast], axis=0)

/tmp/ipykernel_33/2039970228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  afg.loc['Year', 'Forecast'] = pd.concat([country_data, forecast], axis=0)

ValueError: Incompatible indexer with Series

In [ ]:
for i in unique_values:
    for j in range(16+j):
        j+=1