Clear full starter also clear

In [1]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
Train=pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/train.csv')
Test= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/test.csv')
sample_submission= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/sample_submission.csv')

In [2]:
#Filter BY CO2 emissions (metric tons per capita)
specific_string = 'CO2 emissions (metric tons per capita)'
filtered_rows = Train[Train['Indicator'] == specific_string]
filtered_rows

,Country Code,Country Name,Indicator,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
11,Afg,Afghanistan,CO2 emissions (metric tons per capita),0.055166607,0.055292719,0.066810138,0.073004968,0.054866759,0.080361134,0.089756909,0.109940042,0.165573355,0.239506901,0.304230216,0.408965291,0.335061035,0.298087813,0.283692396,0.297971775
23,Alb,Albania,CO2 emissions (metric tons per capita),1.031567545,1.056868354,1.233001531,1.361158778,1.427944204,1.360092207,1.363988602,1.433796507,1.428249586,1.492116704,1.64276193,1.768108509,1.565921402,1.656389503,1.795712442,1.665218525
35,Alg,Algeria,CO2 emissions (metric tons per capita),2.601065339,2.520609526,2.605694613,2.751098761,2.752758782,2.85792657,2.985149131,3.023502915,3.116770947,3.187069044,3.184357,3.305232517,3.621367718,3.658468679,3.811521147,3.951960939
47,Ame,American Samoa,CO2 emissions (metric tons per capita),..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
59,And,Andorra,CO2 emissions (metric tons per capita),7.927016355,7.725626659,7.498764979,7.238069466,7.286756008,7.206273645,6.805400082,6.890389929,7.081822365,6.995396198,7.223590934,6.957586407,6.86229282,6.674233189,6.445930663,6.485769241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,Sub,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3155,Sub,Sub-Saharan Africa (excluding high income),CO2 emissions (metric tons per capita),0.742518227,0.787450847,0.769905273,0.793282981,0.815993983,0.798675052,0.776252936,0.77565827,0.80372919,0.755114664,0.786334412,0.763583523,0.771278211,0.790174495,0.802481827,0.763559116
3167,Sub,Sub-Saharan Africa (IDA & IBRD countries),CO2 emissions (metric tons per capita),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3179,Upp,Upper middle income,CO2 emissions (metric tons per capita),3.167140886,3.243556127,3.347641763,3.646680369,3.955406019,4.246087066,4.524939703,4.770829501,4.86797795,4.944131035,5.315663058,5.673918008,5.764481643,5.885587659,5.857718499,5.735859454
3191,Wor,World,CO2 emissions (metric tons per capita),3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [3]:
#Drop Indicator Column
filtered_rows.drop(columns=['Indicator'], inplace=True)
filtered_rows

/tmp/ipykernel_19/1368651258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rows.drop(columns=['Indicator'], inplace=True)

,Country Code,Country Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
11,Afg,Afghanistan,0.055166607,0.055292719,0.066810138,0.073004968,0.054866759,0.080361134,0.089756909,0.109940042,0.165573355,0.239506901,0.304230216,0.408965291,0.335061035,0.298087813,0.283692396,0.297971775
23,Alb,Albania,1.031567545,1.056868354,1.233001531,1.361158778,1.427944204,1.360092207,1.363988602,1.433796507,1.428249586,1.492116704,1.64276193,1.768108509,1.565921402,1.656389503,1.795712442,1.665218525
35,Alg,Algeria,2.601065339,2.520609526,2.605694613,2.751098761,2.752758782,2.85792657,2.985149131,3.023502915,3.116770947,3.187069044,3.184357,3.305232517,3.621367718,3.658468679,3.811521147,3.951960939
47,Ame,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
59,And,Andorra,7.927016355,7.725626659,7.498764979,7.238069466,7.286756008,7.206273645,6.805400082,6.890389929,7.081822365,6.995396198,7.223590934,6.957586407,6.86229282,6.674233189,6.445930663,6.485769241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,Sub,Sub-Saharan Africa,0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3155,Sub,Sub-Saharan Africa (excluding high income),0.742518227,0.787450847,0.769905273,0.793282981,0.815993983,0.798675052,0.776252936,0.77565827,0.80372919,0.755114664,0.786334412,0.763583523,0.771278211,0.790174495,0.802481827,0.763559116
3167,Sub,Sub-Saharan Africa (IDA & IBRD countries),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3179,Upp,Upper middle income,3.167140886,3.243556127,3.347641763,3.646680369,3.955406019,4.246087066,4.524939703,4.770829501,4.86797795,4.944131035,5.315663058,5.673918008,5.764481643,5.885587659,5.857718499,5.735859454
3191,Wor,World,3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [4]:
#Drop Country Code Column
filtered_rows.drop(columns=['Country Code'], inplace=True)
filtered_rows

/tmp/ipykernel_19/3319185666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rows.drop(columns=['Country Code'], inplace=True)

,Country Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
11,Afghanistan,0.055166607,0.055292719,0.066810138,0.073004968,0.054866759,0.080361134,0.089756909,0.109940042,0.165573355,0.239506901,0.304230216,0.408965291,0.335061035,0.298087813,0.283692396,0.297971775
23,Albania,1.031567545,1.056868354,1.233001531,1.361158778,1.427944204,1.360092207,1.363988602,1.433796507,1.428249586,1.492116704,1.64276193,1.768108509,1.565921402,1.656389503,1.795712442,1.665218525
35,Algeria,2.601065339,2.520609526,2.605694613,2.751098761,2.752758782,2.85792657,2.985149131,3.023502915,3.116770947,3.187069044,3.184357,3.305232517,3.621367718,3.658468679,3.811521147,3.951960939
47,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
59,Andorra,7.927016355,7.725626659,7.498764979,7.238069466,7.286756008,7.206273645,6.805400082,6.890389929,7.081822365,6.995396198,7.223590934,6.957586407,6.86229282,6.674233189,6.445930663,6.485769241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,Sub-Saharan Africa,0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3155,Sub-Saharan Africa (excluding high income),0.742518227,0.787450847,0.769905273,0.793282981,0.815993983,0.798675052,0.776252936,0.77565827,0.80372919,0.755114664,0.786334412,0.763583523,0.771278211,0.790174495,0.802481827,0.763559116
3167,Sub-Saharan Africa (IDA & IBRD countries),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3179,Upper middle income,3.167140886,3.243556127,3.347641763,3.646680369,3.955406019,4.246087066,4.524939703,4.770829501,4.86797795,4.944131035,5.315663058,5.673918008,5.764481643,5.885587659,5.857718499,5.735859454
3191,World,3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [5]:
#Covert Year Column in rows
melted_df = filtered_rows.melt(id_vars='Country Name', var_name='Year', value_name='CO2_Emissions')
melted_df

                                    Country Name           Year CO2_Emissions
0                                    Afghanistan  2000 [YR2000]   0.055166607
1                                        Albania  2000 [YR2000]   1.031567545
2                                        Algeria  2000 [YR2000]   2.601065339
3                                 American Samoa  2000 [YR2000]            ..
4                                        Andorra  2000 [YR2000]   7.927016355
...                                          ...            ...           ...
4251                          Sub-Saharan Africa  2015 [YR2015]    0.76398389
4252  Sub-Saharan Africa (excluding high income)  2015 [YR2015]   0.763559116
4253   Sub-Saharan Africa (IDA & IBRD countries)  2015 [YR2015]    0.76398389
4254                         Upper middle income  2015 [YR2015]   5.735859454
4255                                       World  2015 [YR2015]   4.601683731

[4256 rows x 3 columns]

In [6]:
#Sort Row in accending order by Year and Country Name
sorted_df = melted_df.groupby('Country Name').apply(lambda x: x.sort_values('Year')).reset_index(drop=True)
sorted_df.head(20)

/tmp/ipykernel_19/1831615012.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sorted_df = melted_df.groupby('Country Name').apply(lambda x: x.sort_values('Year')).reset_index(drop=True)

                   Country Name           Year CO2_Emissions
0                   Afghanistan  2000 [YR2000]   0.055166607
1                   Afghanistan  2001 [YR2001]   0.055292719
2                   Afghanistan  2002 [YR2002]   0.066810138
3                   Afghanistan  2003 [YR2003]   0.073004968
4                   Afghanistan  2004 [YR2004]   0.054866759
5                   Afghanistan  2005 [YR2005]   0.080361134
6                   Afghanistan  2006 [YR2006]   0.089756909
7                   Afghanistan  2007 [YR2007]   0.109940042
8                   Afghanistan  2008 [YR2008]   0.165573355
9                   Afghanistan  2009 [YR2009]   0.239506901
10                  Afghanistan  2010 [YR2010]   0.304230216
11                  Afghanistan  2011 [YR2011]   0.408965291
12                  Afghanistan  2012 [YR2012]   0.335061035
13                  Afghanistan  2013 [YR2013]   0.298087813
14                  Afghanistan  2014 [YR2014]   0.283692396
15                  Afghanistan  2015 [YR2015]   0.297971775
16  Africa Eastern and Southern  2000 [YR2000]   0.891352058
17  Africa Eastern and Southern  2001 [YR2001]   0.958882806
18  Africa Eastern and Southern  2002 [YR2002]   0.961553407
19  Africa Eastern and Southern  2003 [YR2003]   0.988082951

In [7]:
#All country name into unique_values
unique_values = melted_df['Country Name'].unique()
unique_values.shape

(266,)

In [8]:
# Replace ".." with a new value
new_value = 0.00
sorted_df = sorted_df.replace('..', new_value)

In [9]:
sorted_df.head(17)

                   Country Name           Year CO2_Emissions
0                   Afghanistan  2000 [YR2000]   0.055166607
1                   Afghanistan  2001 [YR2001]   0.055292719
2                   Afghanistan  2002 [YR2002]   0.066810138
3                   Afghanistan  2003 [YR2003]   0.073004968
4                   Afghanistan  2004 [YR2004]   0.054866759
5                   Afghanistan  2005 [YR2005]   0.080361134
6                   Afghanistan  2006 [YR2006]   0.089756909
7                   Afghanistan  2007 [YR2007]   0.109940042
8                   Afghanistan  2008 [YR2008]   0.165573355
9                   Afghanistan  2009 [YR2009]   0.239506901
10                  Afghanistan  2010 [YR2010]   0.304230216
11                  Afghanistan  2011 [YR2011]   0.408965291
12                  Afghanistan  2012 [YR2012]   0.335061035
13                  Afghanistan  2013 [YR2013]   0.298087813
14                  Afghanistan  2014 [YR2014]   0.283692396
15                  Afghanistan  2015 [YR2015]   0.297971775
16  Africa Eastern and Southern  2000 [YR2000]   0.891352058

In [10]:
data=sorted_df.head(16)

In [11]:
train_data=data.head(11)
test_data=data.tail(5)

In [12]:
train_data

   Country Name           Year CO2_Emissions
0   Afghanistan  2000 [YR2000]   0.055166607
1   Afghanistan  2001 [YR2001]   0.055292719
2   Afghanistan  2002 [YR2002]   0.066810138
3   Afghanistan  2003 [YR2003]   0.073004968
4   Afghanistan  2004 [YR2004]   0.054866759
5   Afghanistan  2005 [YR2005]   0.080361134
6   Afghanistan  2006 [YR2006]   0.089756909
7   Afghanistan  2007 [YR2007]   0.109940042
8   Afghanistan  2008 [YR2008]   0.165573355
9   Afghanistan  2009 [YR2009]   0.239506901
10  Afghanistan  2010 [YR2010]   0.304230216

In [13]:
test_data['CO2_Emissions'].astype(float)

11    0.408965
12    0.335061
13    0.298088
14    0.283692
15    0.297972
Name: CO2_Emissions, dtype: float64

In [14]:
# evaluate an ARIMA model for a given order (p,d,q)
def evaluate_arima_model(arima_order):
    allrms=0
    j=0
    for i in unique_values:
        afg = sorted_df[sorted_df['Country Name'] == i]
        train_data=afg.head(11)
        test_data=afg.tail(5)
        model = ARIMA(train_data['CO2_Emissions'].astype(float), order=arima_order)
        model_fit = model.fit()
        yhat = model_fit.forecast(5)
        # calculate out of sample error
        #print(yhat)
        #print(i)
        rmse = sqrt(mean_squared_error(test_data['CO2_Emissions'].astype(float), yhat))
        j+=1
        allrms=allrms+rmse
        
    
    return (allrms/j)

In [15]:
# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(p_values, d_values, q_values):
    #dataset = dataset.astype('float32')
    best_score, best_cfg = float("inf"), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p,d,q)
                try:
                    rmse = evaluate_arima_model(order)
                    if rmse < best_score:
                        best_score, best_cfg = rmse, order
                    print('ARIMA%s RMSE=%.3f' % (order,rmse))
                except:
                    continue
    
    print('Best ARIMA%s RMSE=%.3f' % (best_cfg, best_score))

In [16]:
from sklearn.metrics import mean_squared_error
import warnings
from math import sqrt
p_values = [0, 1, 2, 3,4,5,6]
d_values = range(0, 7)
q_values = range(0, 7)
order=(3, 0, 4)
warnings.filterwarnings("ignore")
evaluate_models(p_values, d_values, q_values)

ARIMA(0, 0, 0) RMSE=0.631
ARIMA(0, 0, 1) RMSE=0.603
ARIMA(0, 0, 2) RMSE=0.589
ARIMA(0, 0, 3) RMSE=0.575
ARIMA(0, 0, 4) RMSE=0.569
ARIMA(0, 0, 5) RMSE=0.549
ARIMA(0, 0, 6) RMSE=0.574
ARIMA(0, 1, 0) RMSE=0.357
ARIMA(0, 1, 1) RMSE=0.352
ARIMA(0, 1, 2) RMSE=0.363
ARIMA(0, 1, 3) RMSE=0.360
ARIMA(0, 1, 4) RMSE=0.376
ARIMA(0, 1, 5) RMSE=0.410
ARIMA(0, 1, 6) RMSE=0.393
ARIMA(0, 2, 0) RMSE=0.787
ARIMA(0, 2, 1) RMSE=0.440
ARIMA(0, 2, 2) RMSE=0.484
ARIMA(0, 2, 3) RMSE=0.454
ARIMA(0, 2, 4) RMSE=0.466
ARIMA(0, 2, 5) RMSE=0.494
ARIMA(0, 2, 6) RMSE=0.473
ARIMA(0, 3, 0) RMSE=4.060
ARIMA(0, 3, 1) RMSE=1.107
ARIMA(0, 3, 2) RMSE=1.006
ARIMA(0, 3, 3) RMSE=0.898
ARIMA(0, 3, 4) RMSE=0.877
ARIMA(0, 3, 5) RMSE=0.988
ARIMA(0, 3, 6) RMSE=0.947
ARIMA(0, 4, 0) RMSE=14.927
ARIMA(0, 4, 1) RMSE=5.686
ARIMA(0, 4, 2) RMSE=3.528
ARIMA(0, 4, 3) RMSE=2.997
ARIMA(0, 4, 4) RMSE=3.827
ARIMA(0, 4, 5) RMSE=3.569
ARIMA(0, 4, 6) RMSE=3.731
ARIMA(0, 5, 0) RMSE=46.111
ARIMA(0, 5, 1) RMSE=19.017
ARIMA(0, 5, 2) RMSE=13.728
ARIMA(0, 5, 3) RMSE=14.176
ARIMA(0, 5, 4) RMSE=14.386
ARIMA(0, 5, 5) RMSE=14.048
ARIMA(0, 5, 6) RMSE=12.435
ARIMA(0, 6, 0) RMSE=138.048
ARIMA(0, 6, 1) RMSE=61.288
ARIMA(0, 6, 2) RMSE=46.329
ARIMA(0, 6, 3) RMSE=40.749
ARIMA(0, 6, 4) RMSE=42.266
ARIMA(0, 6, 5) RMSE=37.384
ARIMA(0, 6, 6) RMSE=36.598
ARIMA(1, 0, 0) RMSE=0.415
ARIMA(1, 0, 1) RMSE=0.432
ARIMA(1, 0, 2) RMSE=0.443
ARIMA(1, 0, 3) RMSE=0.452
ARIMA(1, 0, 4) RMSE=0.457
ARIMA(1, 0, 5) RMSE=0.470
ARIMA(1, 0, 6) RMSE=0.502
ARIMA(1, 1, 0) RMSE=0.349
ARIMA(1, 1, 1) RMSE=0.369
ARIMA(1, 1, 2) RMSE=0.375
ARIMA(1, 1, 3) RMSE=0.392
ARIMA(1, 1, 4) RMSE=0.399
ARIMA(1, 1, 5) RMSE=0.424
ARIMA(1, 1, 6) RMSE=0.417
ARIMA(1, 2, 0) RMSE=0.497
ARIMA(1, 2, 1) RMSE=0.422
ARIMA(1, 2, 2) RMSE=0.777
ARIMA(1, 2, 3) RMSE=0.464
ARIMA(1, 2, 4) RMSE=0.476
ARIMA(1, 2, 5) RMSE=0.486
ARIMA(1, 2, 6) RMSE=0.495
ARIMA(1, 3, 0) RMSE=2.182
ARIMA(1, 3, 1) RMSE=0.963
ARIMA(1, 3, 2) RMSE=1.058
ARIMA(1, 3, 3) RMSE=0.901
ARIMA(1, 3, 4) RMSE=0.855
ARIMA(1, 3, 5) RMSE=0.942
ARIMA(1, 3, 6) RMSE=0.932
ARIMA(1, 4, 0) RMSE=8.887
ARIMA(1, 4, 1) RMSE=3.873
ARIMA(1, 4, 2) RMSE=3.241
ARIMA(1, 4, 3) RMSE=3.056
ARIMA(1, 4, 4) RMSE=3.262
ARIMA(1, 4, 5) RMSE=3.226
ARIMA(1, 4, 6) RMSE=3.234
ARIMA(1, 5, 0) RMSE=25.362
ARIMA(1, 5, 1) RMSE=12.887
ARIMA(1, 5, 2) RMSE=11.389
ARIMA(1, 5, 3) RMSE=14.268
ARIMA(1, 5, 4) RMSE=13.106
ARIMA(1, 5, 5) RMSE=12.688
ARIMA(1, 5, 6) RMSE=12.091
ARIMA(1, 6, 0) RMSE=74.146
ARIMA(1, 6, 2) RMSE=39.391
ARIMA(1, 6, 3) RMSE=37.820
ARIMA(1, 6, 4) RMSE=37.417
ARIMA(1, 6, 5) RMSE=35.888
ARIMA(1, 6, 6) RMSE=36.326
ARIMA(2, 0, 0) RMSE=0.452
ARIMA(2, 0, 1) RMSE=0.475
ARIMA(2, 0, 2) RMSE=0.489
ARIMA(2, 0, 3) RMSE=0.502
ARIMA(2, 0, 4) RMSE=1.473
ARIMA(2, 0, 5) RMSE=0.522
ARIMA(2, 0, 6) RMSE=0.529
ARIMA(2, 1, 0) RMSE=0.352
ARIMA(2, 1, 1) RMSE=0.378
ARIMA(2, 1, 2) RMSE=0.391
ARIMA(2, 1, 3) RMSE=0.399
ARIMA(2, 1, 4) RMSE=0.412
ARIMA(2, 1, 5) RMSE=0.422
ARIMA(2, 1, 6) RMSE=0.402
ARIMA(2, 2, 0) RMSE=0.407
ARIMA(2, 2, 1) RMSE=0.401
ARIMA(2, 2, 2) RMSE=0.857
ARIMA(2, 2, 3) RMSE=0.467
ARIMA(2, 2, 4) RMSE=0.484
ARIMA(2, 2, 5) RMSE=0.488
ARIMA(2, 2, 6) RMSE=0.465
ARIMA(2, 3, 0) RMSE=1.342
ARIMA(2, 3, 1) RMSE=0.799
ARIMA(2, 3, 2) RMSE=0.875
ARIMA(2, 3, 3) RMSE=0.849
ARIMA(2, 3, 4) RMSE=0.930
ARIMA(2, 3, 5) RMSE=0.883
ARIMA(2, 3, 6) RMSE=0.912
ARIMA(2, 4, 0) RMSE=5.233
ARIMA(2, 4, 1) RMSE=2.800
ARIMA(2, 4, 2) RMSE=2.843
ARIMA(2, 4, 3) RMSE=2.651
ARIMA(2, 4, 4) RMSE=2.687
ARIMA(2, 4, 5) RMSE=2.677
ARIMA(2, 4, 6) RMSE=2.801
ARIMA(2, 5, 0) RMSE=18.211
ARIMA(2, 5, 2) RMSE=12.377
ARIMA(2, 5, 3) RMSE=13.613
ARIMA(2, 5, 4) RMSE=13.183
ARIMA(2, 5, 5) RMSE=12.024
ARIMA(2, 5, 6) RMSE=10.638
ARIMA(2, 6, 0) RMSE=52.895
ARIMA(2, 6, 2) RMSE=41.094
ARIMA(2, 6, 3) RMSE=37.421
ARIMA(2, 6, 4) RMSE=38.205
ARIMA(2, 6, 5) RMSE=1205.557
ARIMA(2, 6, 6) RMSE=38.032
ARIMA(3, 0, 0) RMSE=0.472
ARIMA(3, 0, 1) RMSE=0.497
ARIMA(3, 0, 2) RMSE=0.509
ARIMA(3, 0, 3) RMSE=0.513
ARIMA(3, 0, 4) RMSE=0.526
ARIMA(3, 0, 5) RMSE=0.516
ARIMA(3, 0, 6) RMSE=0.554
ARIMA(3, 1, 0) RMSE=0.361
ARIMA(3, 1, 1) RMSE=0.407
ARIMA(3, 1, 2) RMSE=0.400
ARIMA(3, 1, 3) RMSE=0.439
ARIMA(3, 1, 4) RMSE=0.444
ARIMA(3, 1, 5) RMSE=0.439
ARIMA(3, 1, 6) RMSE=0.457
ARIMA(3, 2, 0) RMSE=0.391
ARIMA(3, 2, 1) RMSE=0.414
ARIMA(3, 2, 3) RMSE=0.480
ARIMA(3, 2, 4) RMSE=0.484
ARIMA(3, 2, 5) RMSE=0.478
ARIMA(3, 2, 6) RMSE=0.488
ARIMA(3, 3, 0) RMSE=1.063
ARIMA(3, 3, 1) RMSE=0.808
ARIMA(3, 3, 2) RMSE=0.784
ARIMA(3, 3, 3) RMSE=0.847
ARIMA(3, 3, 4) RMSE=0.855
ARIMA(3, 3, 5) RMSE=0.821
ARIMA(3, 3, 6) RMSE=0.888
ARIMA(3, 4, 0) RMSE=4.023
ARIMA(3, 4, 1) RMSE=2.791
ARIMA(3, 4, 2) RMSE=881.971
ARIMA(3, 4, 3) RMSE=2.865
ARIMA(3, 4, 4) RMSE=2.513
ARIMA(3, 4, 5) RMSE=2.480
ARIMA(3, 4, 6) RMSE=2.868
ARIMA(3, 5, 0) RMSE=447.777
ARIMA(3, 5, 3) RMSE=13.191
ARIMA(3, 5, 4) RMSE=13.122
ARIMA(3, 5, 5) RMSE=12.976
ARIMA(3, 5, 6) RMSE=12.810
ARIMA(3, 6, 2) RMSE=43.174
ARIMA(3, 6, 4) RMSE=41.778
ARIMA(4, 0, 0) RMSE=0.521
ARIMA(4, 0, 1) RMSE=0.515
ARIMA(4, 0, 2) RMSE=0.528
ARIMA(4, 0, 3) RMSE=0.539
ARIMA(4, 0, 4) RMSE=0.556
ARIMA(4, 0, 5) RMSE=0.557
ARIMA(4, 0, 6) RMSE=0.570
ARIMA(4, 1, 0) RMSE=0.390
ARIMA(4, 1, 1) RMSE=0.405
ARIMA(4, 1, 2) RMSE=0.411
ARIMA(4, 1, 3) RMSE=0.442
ARIMA(4, 1, 4) RMSE=0.452
ARIMA(4, 1, 5) RMSE=0.460
ARIMA(4, 1, 6) RMSE=0.459
ARIMA(4, 2, 0) RMSE=0.426
ARIMA(4, 2, 1) RMSE=0.458
ARIMA(4, 2, 3) RMSE=0.499
ARIMA(4, 2, 4) RMSE=0.504
ARIMA(4, 2, 5) RMSE=0.637
ARIMA(4, 2, 6) RMSE=0.495
ARIMA(4, 3, 2) RMSE=0.955
ARIMA(4, 3, 3) RMSE=0.930
ARIMA(4, 3, 4) RMSE=0.981
ARIMA(4, 3, 5) RMSE=0.902
ARIMA(4, 3, 6) RMSE=0.893
ARIMA(4, 4, 3) RMSE=2.792
ARIMA(4, 4, 4) RMSE=2.553
ARIMA(4, 4, 5) RMSE=2.612
ARIMA(4, 4, 6) RMSE=2.850
ARIMA(4, 5, 3) RMSE=1815.308
ARIMA(4, 5, 4) RMSE=11337.701
ARIMA(4, 5, 5) RMSE=14.901
ARIMA(4, 5, 6) RMSE=43.029
ARIMA(4, 6, 0) RMSE=1378384.095
ARIMA(4, 6, 1) RMSE=1255.573
ARIMA(4, 6, 4) RMSE=4599.822
ARIMA(4, 6, 5) RMSE=47.215
ARIMA(5, 0, 0) RMSE=0.541
ARIMA(5, 0, 1) RMSE=0.547
ARIMA(5, 0, 2) RMSE=0.556
ARIMA(5, 0, 3) RMSE=0.558
ARIMA(5, 0, 4) RMSE=0.567
ARIMA(5, 0, 5) RMSE=0.540
ARIMA(5, 0, 6) RMSE=0.576
ARIMA(5, 1, 0) RMSE=0.416
ARIMA(5, 1, 1) RMSE=0.452
ARIMA(5, 1, 3) RMSE=0.479
ARIMA(5, 1, 4) RMSE=0.501
ARIMA(5, 1, 5) RMSE=0.500
ARIMA(5, 1, 6) RMSE=0.471
ARIMA(5, 2, 3) RMSE=0.518
ARIMA(5, 2, 4) RMSE=0.531
ARIMA(5, 2, 5) RMSE=0.522
ARIMA(5, 2, 6) RMSE=0.540
ARIMA(5, 3, 0) RMSE=12.842
ARIMA(5, 3, 2) RMSE=1.112
ARIMA(5, 3, 4) RMSE=1.063
ARIMA(5, 3, 5) RMSE=1.042
ARIMA(5, 3, 6) RMSE=0.960
ARIMA(5, 4, 2) RMSE=3.528
ARIMA(5, 4, 4) RMSE=3.156
ARIMA(5, 4, 5) RMSE=3.191
ARIMA(5, 4, 6) RMSE=4.607
ARIMA(5, 5, 5) RMSE=21983.070
ARIMA(5, 5, 6) RMSE=13.819
ARIMA(5, 6, 4) RMSE=26138.647
ARIMA(5, 6, 6) RMSE=491.006
ARIMA(6, 0, 0) RMSE=0.562
ARIMA(6, 0, 2) RMSE=0.556
ARIMA(6, 0, 3) RMSE=0.540
ARIMA(6, 0, 4) RMSE=0.563
ARIMA(6, 0, 5) RMSE=0.550
ARIMA(6, 0, 6) RMSE=0.562
ARIMA(6, 1, 1) RMSE=0.512
ARIMA(6, 1, 2) RMSE=0.528
ARIMA(6, 1, 3) RMSE=0.542
ARIMA(6, 1, 4) RMSE=0.535
ARIMA(6, 1, 5) RMSE=0.527
ARIMA(6, 1, 6) RMSE=0.526
ARIMA(6, 2, 3) RMSE=0.591
ARIMA(6, 2, 4) RMSE=0.597
ARIMA(6, 2, 5) RMSE=0.603
ARIMA(6, 2, 6) RMSE=0.605
ARIMA(6, 3, 2) RMSE=1.212
ARIMA(6, 3, 6) RMSE=1.125
ARIMA(6, 4, 2) RMSE=4.716
ARIMA(6, 4, 4) RMSE=60.046
Best ARIMA(1, 1, 0) RMSE=0.349

In [17]:
0.2871669797790969

0.2871669797790969

In [18]:
train_data['CO2_Emissions'].astype(float)

0     0.055167
1     0.055293
2     0.066810
3     0.073005
4     0.054867
5     0.080361
6     0.089757
7     0.109940
8     0.165573
9     0.239507
10    0.304230
Name: CO2_Emissions, dtype: float64

In [19]:
sample_submission

,Country Name,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2030 [YR2030]
0,Afghanistan,3.2253,1.1712,3.7364,0.6141,1.9883,0.0942
1,Albania,2.3565,2.3681,2.1690,1.5303,3.5665,1.7349
2,Algeria,1.0482,1.2839,1.5509,2.4556,3.0417,0.0114
3,American Samoa,3.5276,3.1392,1.1129,1.6479,3.1007,0.6840
4,Andorra,0.8961,3.9242,0.0745,2.0379,3.0965,2.1794
...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,0.8879,1.0192,1.5645,1.5789,0.1476,3.6526
262,Sub-Saharan Africa (excluding high income),3.2523,1.5872,3.8270,3.4941,1.6807,1.2229
263,Sub-Saharan Africa (IDA & IBRD countries),1.7697,1.7440,1.6573,3.1732,1.3454,1.4821
264,Upper middle income,3.1682,3.6737,1.0210,2.2962,3.6815,0.6471
265,World,0.7747,2.6921,0.2496,3.5645,3.8924,3.8018

In [20]:
sample_submission.to_csv('submission02.csv', index=False)