Clear full starter also clear

In [1]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
Train=pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/train.csv')
Test= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/test.csv')
sample_submission= pd.read_csv('/kaggle/input/ml-olympiad-co2-emissions-prediction-challenge/sample_submission.csv')

In [2]:
#Filter BY CO2 emissions (metric tons per capita)
specific_string = 'CO2 emissions (metric tons per capita)'
filtered_rows = Train[Train['Indicator'] == specific_string]
filtered_rows

,Country Code,Country Name,Indicator,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
11,Afg,Afghanistan,CO2 emissions (metric tons per capita),0.055166607,0.055292719,0.066810138,0.073004968,0.054866759,0.080361134,0.089756909,0.109940042,0.165573355,0.239506901,0.304230216,0.408965291,0.335061035,0.298087813,0.283692396,0.297971775
23,Alb,Albania,CO2 emissions (metric tons per capita),1.031567545,1.056868354,1.233001531,1.361158778,1.427944204,1.360092207,1.363988602,1.433796507,1.428249586,1.492116704,1.64276193,1.768108509,1.565921402,1.656389503,1.795712442,1.665218525
35,Alg,Algeria,CO2 emissions (metric tons per capita),2.601065339,2.520609526,2.605694613,2.751098761,2.752758782,2.85792657,2.985149131,3.023502915,3.116770947,3.187069044,3.184357,3.305232517,3.621367718,3.658468679,3.811521147,3.951960939
47,Ame,American Samoa,CO2 emissions (metric tons per capita),..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
59,And,Andorra,CO2 emissions (metric tons per capita),7.927016355,7.725626659,7.498764979,7.238069466,7.286756008,7.206273645,6.805400082,6.890389929,7.081822365,6.995396198,7.223590934,6.957586407,6.86229282,6.674233189,6.445930663,6.485769241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,Sub,Sub-Saharan Africa,CO2 emissions (metric tons per capita),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3155,Sub,Sub-Saharan Africa (excluding high income),CO2 emissions (metric tons per capita),0.742518227,0.787450847,0.769905273,0.793282981,0.815993983,0.798675052,0.776252936,0.77565827,0.80372919,0.755114664,0.786334412,0.763583523,0.771278211,0.790174495,0.802481827,0.763559116
3167,Sub,Sub-Saharan Africa (IDA & IBRD countries),CO2 emissions (metric tons per capita),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3179,Upp,Upper middle income,CO2 emissions (metric tons per capita),3.167140886,3.243556127,3.347641763,3.646680369,3.955406019,4.246087066,4.524939703,4.770829501,4.86797795,4.944131035,5.315663058,5.673918008,5.764481643,5.885587659,5.857718499,5.735859454
3191,Wor,World,CO2 emissions (metric tons per capita),3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [3]:
#Drop Indicator Column
filtered_rows.drop(columns=['Indicator'], inplace=True)
filtered_rows

/tmp/ipykernel_18/1368651258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rows.drop(columns=['Indicator'], inplace=True)

,Country Code,Country Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
11,Afg,Afghanistan,0.055166607,0.055292719,0.066810138,0.073004968,0.054866759,0.080361134,0.089756909,0.109940042,0.165573355,0.239506901,0.304230216,0.408965291,0.335061035,0.298087813,0.283692396,0.297971775
23,Alb,Albania,1.031567545,1.056868354,1.233001531,1.361158778,1.427944204,1.360092207,1.363988602,1.433796507,1.428249586,1.492116704,1.64276193,1.768108509,1.565921402,1.656389503,1.795712442,1.665218525
35,Alg,Algeria,2.601065339,2.520609526,2.605694613,2.751098761,2.752758782,2.85792657,2.985149131,3.023502915,3.116770947,3.187069044,3.184357,3.305232517,3.621367718,3.658468679,3.811521147,3.951960939
47,Ame,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
59,And,Andorra,7.927016355,7.725626659,7.498764979,7.238069466,7.286756008,7.206273645,6.805400082,6.890389929,7.081822365,6.995396198,7.223590934,6.957586407,6.86229282,6.674233189,6.445930663,6.485769241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,Sub,Sub-Saharan Africa,0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3155,Sub,Sub-Saharan Africa (excluding high income),0.742518227,0.787450847,0.769905273,0.793282981,0.815993983,0.798675052,0.776252936,0.77565827,0.80372919,0.755114664,0.786334412,0.763583523,0.771278211,0.790174495,0.802481827,0.763559116
3167,Sub,Sub-Saharan Africa (IDA & IBRD countries),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3179,Upp,Upper middle income,3.167140886,3.243556127,3.347641763,3.646680369,3.955406019,4.246087066,4.524939703,4.770829501,4.86797795,4.944131035,5.315663058,5.673918008,5.764481643,5.885587659,5.857718499,5.735859454
3191,Wor,World,3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [4]:
#Drop Country Code Column
filtered_rows.drop(columns=['Country Code'], inplace=True)
filtered_rows

/tmp/ipykernel_18/3319185666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_rows.drop(columns=['Country Code'], inplace=True)

,Country Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
11,Afghanistan,0.055166607,0.055292719,0.066810138,0.073004968,0.054866759,0.080361134,0.089756909,0.109940042,0.165573355,0.239506901,0.304230216,0.408965291,0.335061035,0.298087813,0.283692396,0.297971775
23,Albania,1.031567545,1.056868354,1.233001531,1.361158778,1.427944204,1.360092207,1.363988602,1.433796507,1.428249586,1.492116704,1.64276193,1.768108509,1.565921402,1.656389503,1.795712442,1.665218525
35,Algeria,2.601065339,2.520609526,2.605694613,2.751098761,2.752758782,2.85792657,2.985149131,3.023502915,3.116770947,3.187069044,3.184357,3.305232517,3.621367718,3.658468679,3.811521147,3.951960939
47,American Samoa,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
59,Andorra,7.927016355,7.725626659,7.498764979,7.238069466,7.286756008,7.206273645,6.805400082,6.890389929,7.081822365,6.995396198,7.223590934,6.957586407,6.86229282,6.674233189,6.445930663,6.485769241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143,Sub-Saharan Africa,0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3155,Sub-Saharan Africa (excluding high income),0.742518227,0.787450847,0.769905273,0.793282981,0.815993983,0.798675052,0.776252936,0.77565827,0.80372919,0.755114664,0.786334412,0.763583523,0.771278211,0.790174495,0.802481827,0.763559116
3167,Sub-Saharan Africa (IDA & IBRD countries),0.742866043,0.787827764,0.770312004,0.793663742,0.816417132,0.799086697,0.776663194,0.776076215,0.80414679,0.755561429,0.786758499,0.763961095,0.771660846,0.790531658,0.802872437,0.76398389
3179,Upper middle income,3.167140886,3.243556127,3.347641763,3.646680369,3.955406019,4.246087066,4.524939703,4.770829501,4.86797795,4.944131035,5.315663058,5.673918008,5.764481643,5.885587659,5.857718499,5.735859454
3191,World,3.951660425,3.958088692,3.961470273,4.090081614,4.223794234,4.329790027,4.417134594,4.528275107,4.503795413,4.391450538,4.604869382,4.68946885,4.685377082,4.719665779,4.682408225,4.601683731

In [5]:
#Covert Year Column in rows
melted_df = filtered_rows.melt(id_vars='Country Name', var_name='Year', value_name='CO2_Emissions')
melted_df

                                    Country Name           Year CO2_Emissions
0                                    Afghanistan  2000 [YR2000]   0.055166607
1                                        Albania  2000 [YR2000]   1.031567545
2                                        Algeria  2000 [YR2000]   2.601065339
3                                 American Samoa  2000 [YR2000]            ..
4                                        Andorra  2000 [YR2000]   7.927016355
...                                          ...            ...           ...
4251                          Sub-Saharan Africa  2015 [YR2015]    0.76398389
4252  Sub-Saharan Africa (excluding high income)  2015 [YR2015]   0.763559116
4253   Sub-Saharan Africa (IDA & IBRD countries)  2015 [YR2015]    0.76398389
4254                         Upper middle income  2015 [YR2015]   5.735859454
4255                                       World  2015 [YR2015]   4.601683731

[4256 rows x 3 columns]

In [6]:
#Sort Row in accending order by Year and Country Name
sorted_df = melted_df.groupby('Country Name').apply(lambda x: x.sort_values('Year')).reset_index(drop=True)
sorted_df.head(20)

/tmp/ipykernel_18/1831615012.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sorted_df = melted_df.groupby('Country Name').apply(lambda x: x.sort_values('Year')).reset_index(drop=True)

                   Country Name           Year CO2_Emissions
0                   Afghanistan  2000 [YR2000]   0.055166607
1                   Afghanistan  2001 [YR2001]   0.055292719
2                   Afghanistan  2002 [YR2002]   0.066810138
3                   Afghanistan  2003 [YR2003]   0.073004968
4                   Afghanistan  2004 [YR2004]   0.054866759
5                   Afghanistan  2005 [YR2005]   0.080361134
6                   Afghanistan  2006 [YR2006]   0.089756909
7                   Afghanistan  2007 [YR2007]   0.109940042
8                   Afghanistan  2008 [YR2008]   0.165573355
9                   Afghanistan  2009 [YR2009]   0.239506901
10                  Afghanistan  2010 [YR2010]   0.304230216
11                  Afghanistan  2011 [YR2011]   0.408965291
12                  Afghanistan  2012 [YR2012]   0.335061035
13                  Afghanistan  2013 [YR2013]   0.298087813
14                  Afghanistan  2014 [YR2014]   0.283692396
15                  Afghanistan  2015 [YR2015]   0.297971775
16  Africa Eastern and Southern  2000 [YR2000]   0.891352058
17  Africa Eastern and Southern  2001 [YR2001]   0.958882806
18  Africa Eastern and Southern  2002 [YR2002]   0.961553407
19  Africa Eastern and Southern  2003 [YR2003]   0.988082951

In [7]:
#All country name into unique_values
unique_values = melted_df['Country Name'].unique()
unique_values.shape

(266,)

In [8]:
# Replace ".." with a new value
new_value = 0.00
sorted_df = sorted_df.replace('..', new_value)

In [9]:
sorted_df.head(17)

                   Country Name           Year CO2_Emissions
0                   Afghanistan  2000 [YR2000]   0.055166607
1                   Afghanistan  2001 [YR2001]   0.055292719
2                   Afghanistan  2002 [YR2002]   0.066810138
3                   Afghanistan  2003 [YR2003]   0.073004968
4                   Afghanistan  2004 [YR2004]   0.054866759
5                   Afghanistan  2005 [YR2005]   0.080361134
6                   Afghanistan  2006 [YR2006]   0.089756909
7                   Afghanistan  2007 [YR2007]   0.109940042
8                   Afghanistan  2008 [YR2008]   0.165573355
9                   Afghanistan  2009 [YR2009]   0.239506901
10                  Afghanistan  2010 [YR2010]   0.304230216
11                  Afghanistan  2011 [YR2011]   0.408965291
12                  Afghanistan  2012 [YR2012]   0.335061035
13                  Afghanistan  2013 [YR2013]   0.298087813
14                  Afghanistan  2014 [YR2014]   0.283692396
15                  Afghanistan  2015 [YR2015]   0.297971775
16  Africa Eastern and Southern  2000 [YR2000]   0.891352058

In [10]:
data=sorted_df.head(16)

In [11]:
train_data=data.head(11)
test_data=data.tail(5)

In [12]:
train_data

   Country Name           Year CO2_Emissions
0   Afghanistan  2000 [YR2000]   0.055166607
1   Afghanistan  2001 [YR2001]   0.055292719
2   Afghanistan  2002 [YR2002]   0.066810138
3   Afghanistan  2003 [YR2003]   0.073004968
4   Afghanistan  2004 [YR2004]   0.054866759
5   Afghanistan  2005 [YR2005]   0.080361134
6   Afghanistan  2006 [YR2006]   0.089756909
7   Afghanistan  2007 [YR2007]   0.109940042
8   Afghanistan  2008 [YR2008]   0.165573355
9   Afghanistan  2009 [YR2009]   0.239506901
10  Afghanistan  2010 [YR2010]   0.304230216

In [13]:
test_data['CO2_Emissions'].astype(float)

11    0.408965
12    0.335061
13    0.298088
14    0.283692
15    0.297972
Name: CO2_Emissions, dtype: float64

In [14]:
# evaluate an ARIMA model for a given order (p,d,q)
def evaluate_arima_model(arima_order):
    allrms=0
    j=0
    for i in unique_values:
        afg = sorted_df[sorted_df['Country Name'] == i]
        train_data=afg.head(11)
        test_data=afg.tail(5)
        model = ARIMA(train_data['CO2_Emissions'].astype(float), order=arima_order)
        model_fit = model.fit()
        yhat = model_fit.forecast(2)
        # calculate out of sample error
        #print(yhat)
        #print(i)
        rmse = sqrt(mean_squared_error(test_data['CO2_Emissions'].astype(float), yhat))
        j+=1
        allrms=allrms+rmse
        
    
    return (allrms/j)

In [15]:
# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(p_values, d_values, q_values):
    #dataset = dataset.astype('float32')
    best_score, best_cfg = float("inf"), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p,d,q)
                try:
                    rmse = evaluate_arima_model(order)
                    if rmse < best_score:
                        best_score, best_cfg = rmse, order
                    print('ARIMA%s RMSE=%.3f' % (order,rmse))
                except:
                    continue
    
    print('Best ARIMA%s RMSE=%.3f' % (best_cfg, best_score))

In [16]:
from sklearn.metrics import mean_squared_error
import warnings
from math import sqrt
p_values = [0, 1, 2, 3,4,5,6]
d_values = range(0, 7)
q_values = range(0, 7)
order=(3, 0, 4)
warnings.filterwarnings("ignore")
evaluate_models(p_values, d_values, q_values)

Best ARIMANone RMSE=inf

In [17]:
0.2871669797790969

0.2871669797790969

In [18]:
# evaluate combinations of p, d and q values for an ARIMA model
def evaluate_models(p_values, d_values, q_values):
    #dataset = dataset.astype('float32')
    best_score, best_cfg = float("inf"), None
    for p in p_values:
        for d in d_values:
            for q in q_values:
                order = (p,d,q)
                try:
                    rmse = evaluate_arima_model(order)
                    if rmse < best_score:
                        best_score, best_cfg = rmse, order
                    print('ARIMA%s RMSE=%.3f' % (order,rmse))
                except:
                    continue
    
    print('Best ARIMA%s RMSE=%.3f' % (best_cfg, best_score))

In [19]:
train_data['CO2_Emissions'].astype(float)

0     0.055167
1     0.055293
2     0.066810
3     0.073005
4     0.054867
5     0.080361
6     0.089757
7     0.109940
8     0.165573
9     0.239507
10    0.304230
Name: CO2_Emissions, dtype: float64

In [20]:
sample_submission

,Country Name,2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2030 [YR2030]
0,Afghanistan,3.2253,1.1712,3.7364,0.6141,1.9883,0.0942
1,Albania,2.3565,2.3681,2.1690,1.5303,3.5665,1.7349
2,Algeria,1.0482,1.2839,1.5509,2.4556,3.0417,0.0114
3,American Samoa,3.5276,3.1392,1.1129,1.6479,3.1007,0.6840
4,Andorra,0.8961,3.9242,0.0745,2.0379,3.0965,2.1794
...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,0.8879,1.0192,1.5645,1.5789,0.1476,3.6526
262,Sub-Saharan Africa (excluding high income),3.2523,1.5872,3.8270,3.4941,1.6807,1.2229
263,Sub-Saharan Africa (IDA & IBRD countries),1.7697,1.7440,1.6573,3.1732,1.3454,1.4821
264,Upper middle income,3.1682,3.6737,1.0210,2.2962,3.6815,0.6471
265,World,0.7747,2.6921,0.2496,3.5645,3.8924,3.8018

In [21]:
sample_submission.to_csv('submission02.csv', index=False)